.container {
    height: 110px;
    display: flex;
    justify-content: space-between;
    background-color: hwb(274 42% 14% / 0.276);
    border-bottom: 1px solid hwb(274 42% 14% / 0.818);
    border-top: 1px solid hwb(274 42% 14% / 0.818);
}
.content{
    margin-right: 70px;
    margin-top: 20px;   
}

.logo {
    margin-left: 70px;
    margin-top: 35px;   
    font-size: 32px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.logo:hover {
    color: grey;
}


.cart-page{
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.cart-page:hover {
    color: grey;
}

.favorites-page {
    margin-top: 40px;   
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.favorites-page:hover {
    color: grey;
}

.cart{
font-size: 18px;
font-family: 'Manrope', sans-serif;
font-weight: bold;
margin-bottom: 10px;
}

.favorites{
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}