.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 80%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    button {
        margin-left: 10px;
    }
}

.btn-cancel {
    width: 80px;
    height: 25px;
    background-color: #444444;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: .15s;
}

.btn-ok {
    width: 80px;
    height: 25px;
    background-color: #444444;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: .15s;
}

.btn-cancel:hover {
    background-color: #ab6bdc;
}

.btn-ok:hover {
    background-color: #ab6bdc;
}
